<html>
<head>
    <title>Upload a doc file</title>
</head>
<body>
    <h1>Upload a doc file</h1>
    <p>Select a doc file from your computer and click Upload</p>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="doc_file" accept=".doc,.docx">
        <input type="submit" value="Upload">
        <select id="model" name="model">
            <option value="Boolean">Boolean Model</option>
            <option value="Extended Boolean">Extended Boolean Model</option>
            <option value="Vector">Vector Model</option>
        </select>
    </form>

</body>
</html>
